@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: -300px !important;
  height: 30px !important;
  background-color: transparent;
  color: #000000;
  font-size: 12px;
  text-align: center;
  cursor: not-allowed;
}

.swiper-button-prev {
  left: -4vw !important;
}

.swiper-button-next {
  right: -4vw !important;
}
